{%extends 'home/cars.html'%}
{%load static%}
{%block car%}
    <div class="car1" style="background-image: url({{car.car.carpic.url}});">

    </div>
    <div class="car2" style="background-image: url({{car.car.carpic.url}});">
        <div class="cardesc">
            {%for detail in details%}
            <div class="carprop">
                <h1>{{detail.topic}}</h1>
                <p>{{detail.description | safe}}</p>
            </div>
            {%endfor%}
        </div>
    </div>
    
{%endblock car%}