{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{%static 'home/main.css'%}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@1,500&display=swap" rel="stylesheet">
    <title>Home Page</title>
</head>
<body>
    
    <div id="parallex1" style="background-image: url('{{items.backgroundimage1.url}}');">
        <div class="head">
            <div class="logo">
                <img src="{{items.logo.url}}" class="logopic">
            </div>
            <div class="navbar" id="navbar">
                <div class="pages">
                    <a href="{%url 'homepage'%}" class="home page activepage">Home</a>
                    <a class="cars page a" href="{%url 'carspage'%}">Cars</a>
                    <a href="{%url 'teampage'%}" class="team page">Team</a>
                    <a href="#" class="crowdfunding page">Crowdfunding</a>
                    <a href="#sponsors" class="sponsors page">Sponsors</a>
                    <div class="courses page dropdown"><a class="a" href="{%url 'just'%}">Courses</a>
                        <div class="courselist list">
                            <a href="#" class="course">#</a>
                            <a href="#" class="course">#</a>
                            <a href="#" class="course">#</a>
                        </div>
                    </div> 
                    <a class="contacts page" href="#contacts">Contact</a>
                    
                </div>
                <div class="logs">
                    {%if request.user.is_authenticated%}
                        <a href="{%url 'logout'%}" class="logout log">Logout</a>
                        <a href="{%url 'profile'%}"><img class="profilepic" src="{{request.user.profile.image.url}}" alt=""></a>
                    {%else%}
                        <a href="{%url 'login'%}" class="login log">Login</a>
                    {%endif%}
                </div>
            </div>
        </div>
        <div class="quotecontainer">
            <h1>{{items.quote1}}</h1>
            <h2>{{items.quote2}}</h2>
        </div>
        <div class="firstcontent">
            <div class="slide fade">
                <a href="#" id="slilink"><img id="slide" src="" class="rounded-corners" height="270px" width="480px"></a>
            </div>
            <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
            <a class="next" onclick="plusSlides(1)">&#10095;</a>
        </div>
    </div>
    
    <div class="video-container">
        <div class="video"><iframe width="800" height="450" src="{{items.video}}" frameborder="1" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>
        <div class="videodiscription">
            <p class="desc">{{items.video_description}}
            </p>
        </div>
    </div>
    <div class="belowcontainer" style="background-image: url('{{items.backgroundimage2.url}}');">
        <br><br>
        <div class="sponcer-container" id="sponsors">
            {%for spon in sponsors%}
                <div class="sponcer"><a href="#"><img src="{{spon.sponsor.url}}" class="rounded-corners" height="200px" width="480px"></a></div>
            {%endfor%}
        </div>
        <br><br><br><br>
    </div>
    <div class="cont-cont">
        <div id="contacts">
            <div class="map-cont">
                <iframe class="map" style="border-radius: 5px;" width="600" height="450" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=sastra%20university&key=AIzaSyBs8EioAiI9KwsznUcxgDrtEqUCSCC_MPk" allowfullscreen></iframe>
            </div>
            <form method="POST">
                {%csrf_token%}
                <label style="text-align: left;">Write to us <hr class="bar" style="width:100%;"></label>
                <div>
                    <input id="name" type="text" name="name" placeholder="Your name.." required>
                </div>
                <div>
                    <input id="email" type="email" name="email" placeholder="Your email id.." required>
                </div>
                <div>
                    <input id="mobile" type="text" name="mobile" placeholder="Mobile number.." >
                </div>
                <div>
                    <input id="subject" type="text" name="subject" placeholder="Subject.." >
                </div>
                <br>
                <div>
                    <textarea id="msg" name="message" required placeholder="Write a message..." ></textarea>
                </div>
                <button id="save_msg">Send</button>
                <button type="reset">Reset</button>
            </form>

            <div class="fb-page" data-href="https://www.facebook.com/SASTRARacingOfficial/" data-tabs="timeline" data-width="" data-height="" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/SASTRARacingOfficial/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/SASTRARacingOfficial/">SASTRA Racing Team</a></blockquote></div>
        </div>
    </div>


    <div class="foot">
        
        <div class="general">
            <pre style="padding: 10px;">{{items.address}}</pre>
        </div>
        <div class="general">
            <pre style="padding: 10px;">{{items.contacts}}</pre>
        </div>
        
    </div>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v7.0" nonce="2e8qM6JO"></script>
    <script src="{%static 'home/script.js'%}"></script>
</body>
</html>