{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{%static 'home/main.css'%}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@1,500&display=swap" rel="stylesheet">
    <title>SRT-Baja | Team</title>
</head>
<body>
    <div class="head">
        <div class="logo">
            <img src="{{items.logo.url}}" class="logopic">
        </div>
        <div class="navbar" id="navbar">
            <div class="pages">
                <a href="{%url 'homepage'%}" class="home page">Home</a>
                <a class="cars page" href="{%url 'carspage'%}">Cars</a>
                <a href="{%url 'teampage'%}" class="team page activepage">Team</a>
                <a href="#" class="crowdfunding page">Crowdfunding</a>
                <a href="#sponsors" class="sponsors page">Sponsors</a>
                <a class="courses page" href="#">Courses</a> 
                <a class="contacts page" href="{%url 'homepage'%}#contacts">Contact</a>
                
            </div>
            <div class="logs">
                {%if request.user.is_authenticated%}
                    <a href="{%url 'logout'%}" class="login log">Logout</a>
                    <a href="{%url 'profile'%}"><img class="profilepic" src="{{request.user.profile.image.url}}" alt=""></a>
                {%else%}
                    <a href="{%url 'login'%}" class="login log">Login</a>
                {%endif%}
            </div>
        </div>
    </div>
    <div class="team-container" style="background-image: url({{items.team_background.url}});">
        {%for member in members%}
            <a href="{{member.linked_in}}" style="text-decoration:none;"><div class="member">
                <i class="fa fa-linkedin-square" style="color:rgb(0, 0, 129);" id="memlink" aria-hidden="true"></i>
                <img src="{{member.photo.url}}" height="150px" width="150px">
                <hr>
                <h3>{{member.name}}</h3>
                <p>{{member.role}}</p>
                <p>{{member.subsystem}}</p>
            </div></a>
        {%endfor%}
    </div>
    <div class="foot">
        
        
        <div class="general">
            <pre style="padding: 10px;">{{items.contacts}}</pre>
        </div>
        <div class="socicons">
            <div class="phone">
                <a href="tel:9443450532" style="text-decoration: none; color:burlywood;font-size: 40px;"><i class="fa fa-phone" aria-hidden="true"></i></a>
            </div>
            <div class="twitter">
                <a href="https://twitter.com/SRTBAJA" target="_blank" style="text-decoration: none; color:burlywood;font-size: 40px;"><i class="fa fa-twitter" aria-hidden="true"></i>
                </a>

            </div>
            <div class="fb">
                <a href="https://www.facebook.com/SASTRARacingOfficial/" target="_blank" style="text-decoration: none; color:burlywood;font-size: 40px;"><i class="fa fa-facebook-official" aria-hidden="true"></i></a>
            </div>
            <div class="insta">
                <a href="https://www.instagram.com/sastra_racing_team_baja/" target="_blank" style="text-decoration: none; color:burlywood;font-size: 40px;"><i class="fa fa-instagram" aria-hidden="true"></i></a>
            </div>
            <div class="mail">
                <a href="mailto:sastraracingteambaja@gmail.com" style="text-decoration: none; color:burlywood;font-size: 40px;"><i class="fa fa-envelope-o" aria-hidden="true"></i></a>
                <a id="mail" href="mailto:sastraracingteambaja@gmail.com" style="text-decoration: none; color:burlywood;font-size: 20px; padding: 10px;">sastraracingteambaja@gmail.com</a>
            </div> 
        </div>
        
    </div>
    <script>
        var navbar = document.getElementById("navbar");
        var navpos = navbar.offsetTop;
        window.onscroll = ()=>{
            if(window.pageYOffset > navpos){
                navbar.classList.add("stickynav");
                navbar.classList.remove("navbar");
            }else{
                navbar.classList.remove("stickynav");
                navbar.classList.add("navbar");
            }
        };
        var pages = document.getElementsByClassName("page");
        for(let i=0; i<pages.length; i++){
            pages[i].style.height = navbar.offsetHeight;
        }
    </script>
</body>
</html>