
*{
    box-sizing: border-box;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}
html{
    background: rgb(29, 29, 29);
    scroll-behavior: smooth;
}
.head{
    position: relative;
    background: #000000ec;
    width: 100%;
    height: 100px;
}
#navbar{
    background:#3d3d3d;
    display: flex;
    justify-content: space-between;
    background-image: url('img/carbon-fibre.png');
    flex-wrap: nowrap;
    align-items: center;
    vertical-align: baseline;
    font-size: medium;
    z-index: 100;
    
}
.navbar{
    position: absolute;
    bottom: 0;
    right:0;
    left:0;
    margin-left: 30%;
    transition: 0.3s;
    border-radius: 10px 0 0 10px;
}
.stickynav{
    position: fixed;
    top:0;
    right:0;
    left:0;
    transition: .3s;
}

.logo{
    margin-left: 10%;
    background-color: #000000ec;
    width: 160px;
    height:100px;
}

.logopic{
    width:100%;
    height: 100%;
}
.profilepic{
    width:50px;
    height: 50px;
    border-radius: 50%;
}
.pages{
    display: flex;
    justify-content: space-between;
    
}
.logs{
    display: flex;
    margin-right: 15px;
    align-items: center;
}
.page, .log{
    display: block;
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right:20px;
    text-decoration: none;
    color: white;
    position: relative;
}
.carlist, .contactlist, .courselist{
    display:none;
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right:20px;
}
.page a{
    text-decoration: none;
    color: white;
    display: block;
}
.home{
    margin-left: 3%;
}
.activepage{
    background-color: rgba(0, 0, 0, 0.89);
    border-radius: 10px 10px 0 0;
    margin-top: 3px;
    color: #e7d106;
}
.dropdown{
    width: 100px;
}
.dropdown:hover .list{
    transition: 0.6s ease;
    display: block;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.89);
    top:100%;
    left:0px;
    border-radius:0px 10px 10px 10px;
    width: 200px;
}
.page:hover{
    background: rgba(0, 0, 0, 0.89);
    transition: 0.6s ease;
    border-radius: 10px 10px 0 0;
    color: #e7d106;
    margin-top: 3px;
}
.log:hover{
    background: rgba(7, 7, 7, 0.801);
    transition: 0.6s ease;
    border-radius: 10px;
    color: #e7d106;
}
.dropdown:hover .a{
    color: #e7d106;
    transition: 0.6s ease;
}
.dropdown:hover a{
    color: rgb(218, 216, 216);
}
.dropdown:hover .courselist{
    width:200px;
}
.list a{
    color:black;
    display: block;
    padding: 20px;
}
#parallex1{
    width:100%;
    height:800px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.content{
    display: block;
    width: 100%;
    height: 100%;
    justify-content: space-evenly;
    align-items: center;
}
.quotecontainer{
    background-color: rgba(0, 0, 0, 0.548);
    color: rgb(243, 186, 0);
    width: 700px;
    height: 200px;
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: right;
    clip-path: polygon(0 0,100% 0,70% 100%,0 100%);
}
.quotecontainer>h1{
    text-align: left;
    padding: 20px;

    font-size: 45px;
    font-family: 'Raleway', sans-serif;
}
.quotecontainer>h2{
    padding-left: 20px;
    color:white;
    font-family: 'Raleway', sans-serif;
}

.slide:hover{
    transition: .3s ease;
    transform: scale(1.01);
}
.slide{
    display:block;
    padding:10px;
    margin-left: 50px;
    margin-right:50px;

}
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -25px;
    padding: 16px;
    color: rgb(221, 19, 19);
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}
.prev{
    float: left;
}
.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}

.video-container{
    background-color: rgb(41, 41, 41);
    display: flex;
    align-items: center;
    justify-content: baseline;
    border-top: 2px solid sandybrown;
    flex-wrap: nowrap;
    flex-direction: column;
}
.video{
    margin-left: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 50px;
    border-radius: 20px;
    display: block;

}
.video iframe{
    border-radius: 20px;
    margin-top: 10px;
}
.videodescription{

    text-align: center;

    margin-top: 0px;

    
}
.videodiscription h2{
    text-align: center;
    color: burlywood;
    padding: 20px;
    font-family: Lucida Console;
    font-size: 30px;
}
.desc{
    padding:20px;
    align-self: center;
    color: burlywood;
    text-align:left;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;

}

.belowcontainer{
    width: 100%;
    min-height:700px;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    position:relative;
}
.firstcontent{
    content:'';
    display: flex;
    height:320px;
    width:600px;
    background: rgb(41, 41, 41);
    position: relative;
    float: right;
    bottom:18%;
    align-items: center;
    right: 0;
    bottom:0;
    /* border-right:1px solid sandybrown; */
}
.car-box{
    height: 300px;
    width:300px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    border-radius: 20px;
}
.carname{
    position: absolute;
    bottom:0;
    width:100%;
    height: 50px;
    text-align: center;
    font-size: 40px;
    color: rgb(255, 165, 30);
    border-radius:0 0 20px 20px;
    background-color: rgba(0, 0, 0, 0.774);
}
.sponcer-container{
    display: flex;
    width: 100%;
    background-color: rgb(0, 0, 0);
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    position: absolute;
    bottom: 0;
}
.sponcer{
    padding: 10px;

}
.sponcer:hover{
    transform: scale(1.02);
    transition: 0.3s ease;
}
.cont-cont{
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
#contacts{
    color: burlywood;
    min-height: 700px;
    display: flex;

    background-color: rgba(0, 0, 0, 0.788);

    align-items: center;
    justify-content: space-around;
    text-align: center;
    font-size: 30px;
    padding: 30px;
    line-height: 2;
    border-top:2px solid saddlebrown;
}

.general{
    /* padding-left: 100px;
    padding-right: 100px; */
    /* padding-top: 20px; */
    text-align: left;
    color: burlywood;
}
#contacts>form{
    width:400px;
    background-color: rgb(34, 34, 34);
    color: burlywood;
    padding:20px;

}
#contacts>form>div>input{
    width:100%;
    outline:none;
    border: none;
    background-color: rgb(34, 34, 34);
    color: burlywood;
    
}
#contacts>form>div{
    border-bottom: 1px solid burlywood;
}
#contacts>form>div>textarea{
    resize: none;
    width:100%;
    min-height: 100px;
    outline:none;
    border:none;
    background:none;
    color: burlywood;
}

/* #contacts>form>div>input,textarea:focus{
    border: 0px solid rgb(2, 27, 248);
    box-shadow: 0 0 0px rgb(255, 173, 66);
} */
/* ::placeholder{
    padding: 10px;
} */
#contacts>form>button{
    height:40px;
    width:100px;
    border-radius: 20px;
    border: none;
    background-color: cornsilk;
    padding:10px;
    outline:none;
}
#contacts>form>button:hover{
    background-color: burlywood;
    cursor: pointer;
}
#contacts>form>button:focus{
    border:0px;
    
}
.create-new{
    height:270px;
    width:480px;
    text-align: center;
    display: block;
}
.create-new>a{
    margin-top: 45px;
}
.foot{
    background-color: black;
    width:100%;
    display:flex;
    padding-left: 30px;
    justify-content: space-around;
    grid-gap:1em;
    color: blanchedalmond;
    border-top: 1px solid rgb(78, 78, 78);
}
.topbar{
    position: relative;
    border-bottom: none;
}

/* #contacts>form:hover{
    box-shadow: 0 0 10px 0 rgb(116, 116, 116);

} */
.team-container{
    height:700px;
    display: flex;
    justify-content: space-around;
    padding: 40px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    flex-wrap: wrap;
}
.member{
    padding: 20px;
    color: white;
    position: relative;
    min-width: 200px;
    min-height: 250px;
    background-color: rgb(58, 58, 58);

    border-radius: 5px;
}
.member::before{
    content:"";
    border-radius: 5px 5px 0 0;
    top:0;
    left:0;
    position:absolute;
    width:100%;
    height:50%;
    background-color:rgba(243, 218, 150, 0.712);
    transform: scaleY(0);
    transform-origin: top;
    transition: transform 100ms ease-in;
}
.member:hover::before{
    transform:scaleY(1);
}
#memlink{
    z-index:1;
    display: none;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    font-size: 70px;
}
.member:hover #memlink{
    display:block;
    transform: 0.3s ease-in;
}
.member::after{
    content:"";
    border-radius: 0 0 5px 5px;
    bottom:0;
    left:0;
    position:absolute;
    width:100%;
    height:50%;
    background-color: rgba(243, 218, 150, 0.712);
    transform: scaleY(0);
    transform-origin: bottom;
    transition: transform 100ms ease-in;
}
.member:hover::after{
    transform:scaleY(1);
}
.member>hr{
    border-color: rgb(238, 200, 130);
}
#morbut{
    display: none;
}
.buts{
    display: none;
}
@media only screen and (max-width:1100px){
    #contacts{
        flex-wrap: wrap;
    }
    .video iframe{
        width:700px;

    }
    .video-container{
        flex-wrap: wrap;
    }

}
.socicons{
    display:flex;
}
.mail{
    display: flex;
    align-self: center;
}
.insta{
    align-self: flex-start;
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
}
.fb{
    align-self: flex-start;
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
}
.twitter{
    align-self: flex-start;
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
}
.phone{
    display: none;
}
@media (max-width:700px){
    /* .navbar{
        position:fixed;
        bottom:0;
        right:0;
        left:0;
        margin-left: 0;
        
    }

    .stickynav{
        bottom:0;
        top:auto;
        height:55px;
    } */
    html,body{
        overflow-x: hidden;
    }
    #navbar{
        position:absolute;
        flex-direction: column;
        width:auto;
        top:70px;
        left:auto;
        right:-100%;
        height:auto;
        bottom:auto;
        margin-left: 0;
        justify-content: space-between;
        align-items: flex-end;
        transition: 0.3s ease;
    }
    .logs{
        margin-right: 0;
    }
    .log{
        margin-left: 0;
        width:200px;
    }
    .log:hover{
        border-radius: 0;
    }
    /* .stickynav{
        position:fixed;
        flex-direction: column;
    } */
    .pages{
        flex-direction: column;
        padding-bottom: 220px;
    }
    .page{
        width: 200px;
    }
    .home{
        margin-left: 0;
    }
    .activepage{
        border-radius: 0;
        margin-top: 0;
    }
    .page:hover{
        border-radius: 0;
    }
    .logs{
        flex-direction: column;
    }
    .map{
        width:100%;
    }
    .map-cont{
        width:100%;
    }
    .logo{
        margin-left:0;
        margin-right: auto;
        align-self: center;
        transform: none;
        background-color: rgba(0, 0, 0, 0);
        width:160px;
        height: 90px;
    }
    .logopic{
        visibility: visible;
    }
    .firstcontent{
        width:100%;
        height: auto;
        margin-top: 20px;
    }
    .slide{
        padding:0;
        margin-right:0;
        margin-left: 0;
        width: 100%;
    }
    .slide img{
        border-radius: 0;
    }
    .video-container{
        background-color: black;
    }
    .quotecontainer{
        width: 100%;
        clip-path: none;
        background-color: rgba(0, 0, 0, 0.438);
    }
    .video iframe{
        width:100%;
        height: auto;
    }
    .video iframe{
        width: 100%;
        margin: auto;
        height:270px;
        border-radius: 0;
    }
    .video{
        width: 100%;
        margin: auto;
    }
    .sponcer{
        padding:0;
        border-radius: 0;
    }
    .desc{
        padding:20px;
        color:wheat;
        
    }
    .buts{
        display: block;
        position: absolute;
        bottom:100px;
        width: 100%;
        padding:30px;
        
    }
    .buts a{
        width:150px;
        height: 47px;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 25px;
        text-align: center;
        text-decoration: none;
        color: rgb(255, 187, 0);
        padding: 10px;
        background-color: black;
        border-radius: 1px;
        border: 0.5px solid rgb(255, 187, 0);
    }
    
    #morbut{
        display:block;
        position: absolute;
        bottom: 50px;
        align-self: center;
        width:200px;
        left:90px;
        height: 47px;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 25px;
        text-align: center;
        text-decoration: none;
        color: rgb(255, 187, 0);
        padding: 10px;
        background-color: black;
        border-radius: 1px;
        border: 0.5px solid rgb(255, 187, 0);
    }
    .head{
        height:90px;
        background-color: rgb(0, 0, 0);
    }
    .page{
        padding: 15px;
    }
    .navbar{
        border-radius: 0;
    }
    .slide img{
        width:100%;
        height:270px;
    }
    .sponcer-container{
        position:relative;
    }
    .foot{
        flex-direction: column;
        align-items: center;
        padding-left: 0;
    }
    #mail{
        display: none;
    }
    .socicons{
        order: 1;
    }
    .general{
        order: 2;
    }
    .phone{
        display: block;
        align-self: flex-start;
        padding-top: 20px;
        padding-right: 20px;
        padding-bottom: 20px;
    }
    .general{
        display: none;
    }
    .ham{
        background-color: rgba(0, 0, 0, 0.514);
        display: block;
        position: relative;
        width:45px;
        height: 35px;
        float: right;
        top:-60px;
        right: 30px;
        border-radius: 5px;
    }
    #parallex1{
        background-attachment: scroll;
    }
    .ham1, .ham2, .ham3{
        content:"";
        position: absolute;
        display:block;
        margin-top: 5px;
        margin-left: 10px;
        width:35px;
        height: 2.5px;
        background-color: rgb(243, 186, 0);
    }
    .ham1{
        top:0px;
        left:-5px;
    }
    .ham2{
        top:10px;
        left: -5px;
    }
    .ham3{
        top:20px;
        left: -5px;
    }
}