
*{
    box-sizing: border-box;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}
html{
    background: rgb(29, 29, 29);
    scroll-behavior: smooth;
}
.head{
    position: relative;
    background: #000000ec;
    width: 100%;
    height: 100px;
}
#navbar{
    background:#3d3d3d;
    display: flex;
    justify-content: space-between;
    background-image: url('img/carbon-fibre.png');
    flex-wrap: nowrap;
    align-items: center;
    vertical-align: baseline;
    font-size: medium;
    z-index: 100;
    
}
.navbar{
    position: absolute;
    bottom: 0;
    right:0;
    left:0;
    margin-left: 30%;
    transition: 0.3s;
    border-radius: 10px 0 0 10px;
}
.stickynav{
    position: fixed;
    top:0;
    right:0;
    left:0;
    transition: .3s;
}
@media only screen and (max-width:700px){
    .navbar{
        position:fixed;
        bottom:0;
        right:0;
        left:0;
        margin-left: 0;
        
    }

    .stickynav{
        bottom:0;
        top:auto;
        height:55px;
    }
    body{
        padding-bottom: 55px;
    }
    .map{
        width:100%;
    }
    .map-cont{
        width:100%;
    }

}
.logo{
    margin-left: 10%;
    background-color: rgb(29, 29, 29);
    width: 200px;
    height:100px;
    transform: skewX(-20deg);
}

.logopic{
    width:100%;
    height: 100%;
    padding: 20px;
}
@media only screen and (max-width:700px){
    .logo{
        margin-left:auto;
        margin-right: auto;
        align-self: center;
        transform: none;
        background-color: rgba(0, 0, 0, 0);
        width:100px;
        height: 80px;
    }
    .logopic{
        padding:20px;
    }
    
}
.profilepic{
    width:50px;
    height: 50px;
    border-radius: 50%;
}
.pages{
    display: flex;
    justify-content: space-between;
    
}
.logs{
    display: flex;
    margin-right: 15px;
    align-items: center;
}
.page, .log{
    display: block;
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right:20px;
    text-decoration: none;
    color: white;
    position: relative;
}
.carlist, .contactlist, .courselist{
    display:none;
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right:20px;
}
.page a{
    text-decoration: none;
    color: white;
    display: block;
}
.home{
    margin-left: 3%;
}
.activepage{
    background-color: rgba(0, 0, 0, 0.89);
    border-radius: 10px 10px 0 0;
    margin-top: 3px;
    color: #e7d106;
}
.dropdown{
    width: 100px;
}
.dropdown:hover .list{
    transition: 0.6s ease;
    display: block;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.89);
    top:100%;
    left:0px;
    border-radius:0px 10px 10px 10px;
    width: 200px;
}
.page:hover{
    background: rgba(0, 0, 0, 0.89);
    transition: 0.6s ease;
    border-radius: 10px 10px 0 0;
    color: #e7d106;
    margin-top: 3px;
}
.log:hover{
    background: rgba(7, 7, 7, 0.801);
    transition: 0.6s ease;
    border-radius: 10px;
    color: #e7d106;
}
.dropdown:hover .a{
    color: #e7d106;
    transition: 0.6s ease;
}
.dropdown:hover a{
    color: rgb(218, 216, 216);
}
.dropdown:hover .courselist{
    width:200px;
}
.list a{
    color:black;
    display: block;
    padding: 20px;
}
#parallex1{
    width:100%;
    min-height:800px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.content{
    display: block;
    width: 100%;
    height: 100%;
    justify-content: space-evenly;
    align-items: center;
}
.quotecontainer{
    background-color: rgba(0, 0, 0, 0.548);
    color: rgb(206, 158, 1);
    width: 500px;
    height: 200px;
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: right;
    clip-path: polygon(0 0,100% 0,70% 100%,0 100%);
}
.quotecontainer>h1{
    text-align: left;
    padding-left: 10px;

    font-size: 45px;
    font-family: 'Raleway', sans-serif;
}
.quotecontainer>h2{
    padding: 20px;
    font-family: 'Raleway', sans-serif;
}

img.rounded-corners{
    border-radius: 10px;
}
.slide:hover{
    transition: .3s ease;
    transform: scale(1.01);
}
.slide{
    display:block;
    padding:10px;
    margin-left: 50px;

}
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -25px;
    padding: 16px;
    color: rgb(221, 19, 19);
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}
.prev{
    float: left;
}
.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}

.video-container{
    background-color: rgb(41, 41, 41);
    display: flex;
    align-items: center;
    justify-content: baseline;
    border-top: 2px solid sandybrown;
    flex-wrap: nowrap;
}
.video{
    margin-left: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 50px;
    border-radius: 20px;
    display: block;

}
.video iframe{
    border-radius: 20px;
    margin-top: 10px;
}
.videodescription{

    text-align: center;

    margin-top: 0px;

    
}
.videodiscription h2{
    text-align: center;
    color: burlywood;
    padding: 20px;
    font-family: Lucida Console;
    font-size: 30px;
}
.desc{
    color: burlywood;
    text-align:left;
    font-size: 25px;
    font-family: Comic Sans MS;

}

.belowcontainer{
    width: 100%;
    min-height:700px;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}
.firstcontent{
    content:'';
    display: flex;
    height:320px;
    width:600px;
    background: rgba(0, 0, 0, 0.493);
    position: relative;
    float: right;
    bottom:18%;
    align-items: center;
    right: 0;
    bottom:0;
    border-left:1px solid sandybrown;
}
@media (max-width:700px){
    .firstcontent{
        width:100%;
        height: auto;
        margin-top: 20px;
    }
    .slide{
        margin-left: 0;
        padding:0;
    }
    .slide img{
        border-radius: 0;
    }
    .quotecontainer{
        width: 100%;
        clip-path: none;
        background-color: rgba(0, 0, 0, 0);
    }
    .video iframe{
        width:100%;
        height: auto;
    }
}
.sponcer-container{
    display: flex;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.616);
    align-items: center;
    flex-wrap: wrap;
}
.sponcer{
    padding: 10px;

}
.sponcer:hover{
    transform: scale(1.02);
    transition: 0.3s ease;
}
.cont-cont{
    background: url(img/back3.JPG);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
#contacts{
    color: burlywood;
    min-height: 700px;
    display: flex;

    background-color: rgba(0, 0, 0, 0.623);

    align-items: center;
    justify-content: space-around;
    text-align: center;
    font-size: 30px;
    padding: 30px;
    line-height: 2;
    border-top:2px solid saddlebrown;
}
.general{
    /* padding-left: 100px;
    padding-right: 100px; */
    /* padding-top: 20px; */
    text-align: left;
    color: whitesmoke;
}
#contacts>form{
    width:400px;
    background-color: rgb(34, 34, 34);

}
#contacts>form>div>input{
    width:100%;
    height:30px;
    border-radius: 20px;
    outline:none;
}
#contacts>form>div>textarea{
    resize: vertical;
    width:100%;
    min-height: 100px;
    border-radius: 20px;
    outline:none;
}
#contacts>form>div>input,textarea{
    border: 0px solid rgb(2, 27, 248);
}
#contacts>form>div>input,textarea:focus{
    border: 0px solid rgb(2, 27, 248);
    box-shadow: 0 0 0px rgb(255, 173, 66);
}
::placeholder{
    padding: 10px;
}
#contacts>form>button{
    height:40px;
    width:100px;
    border-radius: 20px;
    border: none;
    background-color: cornsilk;
    padding:10px;
    outline:none;
}
#contacts>form>button:focus{
    border:0px;
    
}
.create-new{
    height:270px;
    width:480px;
    text-align: center;
    display: block;
}
.create-new>a{
    margin-top: 45px;
}
.foot{
    background-color: black;
    width:100%;
    display:grid;
    padding-left: 30px;
    grid-template-columns: 1fr 1fr 2fr;
    grid-gap:1em;
    color: blanchedalmond;
    border-top: 1px solid rgb(78, 78, 78);
}
#contacts>form{
    padding: 20px;
}
#contacts>form:hover{
    box-shadow: 0 0 10px 0 rgb(116, 116, 116);

}
.team-container{
    height:700px;
    display: flex;
    justify-content: space-around;
    padding: 40px;
    background-image: url('img/team.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    flex-wrap: wrap;
}
.member{
    padding: 20px;
    color: rgb(0, 0, 0);
    max-width: 200px;
    max-height: 250px;
    background-color: rgb(240, 202, 121);

    border-radius: 2px;
}
.member>hr{
    border-color: violet;
}
.member:hover{
    transform: scale(1.01);
    transition: 0.3s;
}
@media only screen and (max-width:1100px){
    #contacts{
        flex-wrap: wrap;
    }
    .video iframe{
        width:700px;

    }
    .sponsors, .crowdfunding,.contacts{
        display: none;
    }
    .video-container{
        flex-wrap: wrap;
    }

}
@media (max-width:700px){
    .video iframe{
        width: 100%;
        margin: auto;
        height:270px;
        border-radius: 0;
    }
    .video{
        width: 100%;
        margin: auto;
    }
    .sponcer{
        padding:0;
        border-radius: 0;
    }
    .desc{
        padding:10px;
    }
    .head{
        background-color: rgba(0, 0, 0, 0);
    }
    img.rounded-corners{
        border-radius: 0;
    }
    .page{
        padding: 15px;
    }
    .navbar{
        border-radius: 0;
    }
    .slide img{
        width:100%;
        height:auto;
    }
}